<footer class="footer">
  <small>
    <a href="#">xu</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于",   about_path %></li>
      <li><%= link_to "联系", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">最新消息</a></li>
    </ul>
  </nav>
</footer>